@font-face {
    font-family: "Raleway";
    src: url("/src/fonts/static/Raleway-Regular.ttf");
}
@font-face {
    font-family: "Open Sans";
    src: url("/src/fonts/static/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Open Sans - Semibold";
    src: url("/src/fonts/static/OpenSans-SemiBold.ttf");
}
